## This file must *NOT* be checked into Version Control Systems,
# as it contains information specific to your local configuration.
#
# Location of the SDK. Copy to local.properties and set your path:
# sdk.dir=C\:\\Users\\SEU_USER\\AppData\\Local\\Android\\Sdk
sdk.dir=C\:\\Users\\Gabriel\\AppData\\Local\\Android\\Sdk
